@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #28545E;
  color: #FAF4E4;
}

h3 {
  text-align: center;
  padding: 1rem;
}

a {
  display: block;
  max-width: 20vw;
  margin: auto;
}

a:any-link {
  color: #FAF4E4;
  text-decoration: none;
}

a:hover, 
a:focus {
  filter: brightness(150%);
  border: 0.5px dotted hsla(44, 69%, 94%, 0.6);
  transform: scale(1.1);
  transition: all 0.3s;
}

form {
  padding: 1rem;
  width: 80%;
  margin: auto;
}