@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

body {
  /* TODO */
  background-color: #28545E;
  color: #FAF4E4;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  margin: 0 0 1rem;
}

ul {
  margin-left: 1rem;
  padding: 1rem;
  list-style-type: none;
  font-size: clamp(1em, 3vw, 1.75em);
  text-align: center;
}

li {
  display: block;
  border: 1px solid #FAF4E4;
  max-width: 50%;
  padding: clamp(0.5rem, 1vw, 1rem);
  margin: auto;
}
